include LICENSE
include README.rst
include requirements.txt
include flaskup/assets.yaml
recursive-include flaskup/templates *
recursive-include flaskup/static *
recursive-include flaskup/translations *
