<!doctype html>
<html lang="fr">
<head>
 <meta charset="utf-8">
 <title>{% block title %}{{ config['FLASKUP_TITLE'] }}{% endblock %}</title>
 <meta name="description" content="flaskup">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="{{ url_for('show_upload_form') }}" class="brand">{{ config['FLASKUP_TITLE'] }}</a>
    </div>
  </div>
</div>


{% block container %}
<div class="container">
 <div class="row">
  <div class="span8">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-info">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
   {% block content %}{% endblock %}
  </div>
  <div class="span4">
   {% block sidebar %}{% endblock %}
  </div>
 </div>
</div>
{% endblock %}

{% block javascript %}{%endblock %}
</body>
</html>
