{% extends "base.html" %}

{% block content %}
<div id="flaskup-app">

<div class="alert alert-important" id="crappy-browser-warning">
  <strong>{{ _('Did you know that your browser lacks support for some basic functionalities?') }}</strong>
  {{ _('To get the best possible experience using %(t)s we recommand that you use an alternate browser (like Firefox or Chrome).', t=config['FLASKUP_TITLE']) }}
</div>

<form action="{{ url_for('upload_file') }}"
      method="post"
      enctype="multipart/form-data"
      id="form-upload"
      class="form-horizontal">
 <fieldset>
 <legend>
  {{ _('Easily share files') }}
 </legend>

{% if error %}
  <div class="alert alert-error">{{ error }}</div>
{% endif %}

<div id="error-message"></div>

<div class="control-group">
  <label class="control-label" for="myfile">{{ _('My file') }}</label>
  <div class="controls">
    <div id="myfile-view">
      <input type="file" class="input-file" id="myfile" name="myfile">
      <p class="help-block">{{ _('Choose a file on your computer.') }}</p>
    </div>
  </div>
</div>

{% if config.FLASKUP_UPLOAD_PASSWORDS %}
<div class="control-group">
  <label class="control-label" for="mypassword">{{ _('My password') }}</label>
  <div class="controls">
   <input type="password" class="input-xlarge" id="mypassword" name="mypassword">
  <p class="help-block">{{ _('You must provide a known password to upload a file.') }}</p>
  </div>
</div>
{% endif %}

<div class="control-group">
 <label class="control-label" for="myemail">{{ _('My email address') }}</label>
 <div class="controls">
  <input id="myemail" class="input-xlarge" type="text" name="myemail">
  <p class="help-block">{{ _('Send an email with a link to download the file.') }}</p>
 </div>
</div>

{% if config.FLASKUP_MAX_CONTACTS > 0 %}
  <div class="control-group">
    <label class="control-label" for="mycontacts">{{ _('My contacts') }}<br>{{ _('(%(max)i max.)', max=config.FLASKUP_MAX_CONTACTS) }}</label>
    <div class="controls">
      <textarea id="mycontacts" class="input-xlarge" rows="3" name="mycontacts"></textarea>
      <p class="help-block">{{ _('Send the download link to my contacts. (one email address per line)') }}</p>
    </div>
  </div>
{% endif %}

<div class="form-actions">
 <button id="btn-submit"
         class="btn btn-primary btn-large"
         type="submit">{{ _('Send!') }}</button>

 <div id="upload_modal" class="modal hide fade">
  <div class="modal-header">
   <h3>{{ _('Uploading...') }}</h3>
  </div>
  <div class="modal-body">
   <h4>{{ _('Your file is uploading, please wait.') }}</h4>
   <div id="js-progress">
   </div>
  </div>
  <div class="modal-footer">
   <a href="#" class="btn" data-dismiss="modal" id="btn-cancel" >{{ _('Cancel') }}</a>
  </div>
 </div>

</div> <!-- form-actions -->

 </fieldset>
</form>

</div>
{% endblock %}


{% block sidebar %}

<div class="well">
 <h3>{{ _('How does it work?') }}</h3>
 <p>{{ _('You simply choose a file on your computer an it will by uploaded to %(t)s. In return, you will have a link to download the file. You can share this link with whoever you want.', t=config['FLASKUP_TITLE']) }}</p>
 <h3>{{ _('Who can download my file?') }}</h3>
 <p>{{ _('Anyone who know the download link will be able to download your file. So be careful to not share the download link publicly.') }}</p>
 <h3>{{ _('How many days my file will be available?') }}</h3>
 <p>{{ _('Your file will be available for %(m)s days.', m=config['FLASKUP_MAX_DAYS']) }}</p>
 <h3>{{ _('Will you send spam to me or my contacts?') }}</h3>
 <p>{{ _('Definitely, no! We won\'t send you spam. We hate spam too!') }}</p>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='backbone-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-modal.js') }}"></script>

<script type="text/template" id="myfile-template">
  <% if(myfile == undefined) { %>
    <div id="myfile-drop" class="well">
        <p><img src="{{ url_for('static', filename='drop-file.png') }}" style="vertical-align: middle;">
        <big><strong>{{ _('Drop file to upload') }}</strong></big></p>
        <p><mall>{{ _('(or click)') }}</mall></p>
    </div>
    <input type="file" class="input-file" id="myfile" name="myfile" style="display: none";>
  <% } else { %>
    <div id="myfile-info">
      <button type="button" id="myfile-trash" class="btn pull-right"><i class="icon-trash"></i></button>
      <h3><%= myfile.name %></h3>
      <dl class="dl-horizontal">
        <dt>{{ _('Size') }}</dt>
        <dd><%= readable_size(myfile.size) %></dd>
        <dt>{{ _('Type') }}</dt>
        <dd><%= myfile.type %></dd>
      </dl>
    </div>
  <% } %>
</script>

<script type="text/template" id="progress-template">
  <div class="progress progress-striped active">
    <div id="bar" class="bar" style="width: <%= progress.percent() %>%;"></div>
  </div>
  <p>
    <img src="{{ url_for('static', filename='uploading.gif') }}">
    <span id="upload_percent"><%= progress.percent().toFixed(1) %>%</span>
    <% if(progress.percent() != 100) { %>
      — <span id="upload_info"><%= readable_size(progress.get('last_size')) %> / <%= readable_size(progress.get('total')) %> @ <%= readable_size(progress.get('speed')) %></span>
    <% } %>
  </p>
</script>

<script type="text/template" id="error-message-template">
  <% if(message != undefined && message != '') { %>
    <div class="alert alert-error">Error: <%= message %></div>
  <% } %>
</script>

<script type="text/javascript">
  // Backbone application
  var App;

  function readable_size(size) {
    if(size === undefined) {
      return;
    }
    var units = ['', 'Ki', 'Mi', 'Gi', 'Ti', 'Pi', 'Ei', 'Zi', 'Yi'];
    var i = 0;
    while(size >= 1024) {
        size /= 1024;
        ++i;
    }
    return size.toFixed(1) + ' ' + units[i] + '{{ _('B') }}';
  }

  // code executed when the page is fully loaded
  $(function() {
    // check browser capabilities
    if(window.FormData === undefined || window.FileReader === undefined) {
      return;
    }

    // initialize Backbone app
    App = new FlaskupView;
  });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='flaskup.js') }}"></script>
{% endblock %}
