{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('upload_file') }}"
      method="post"
      enctype="multipart/form-data"
      id="form-upload"
      class="form-horizontal">
 <fieldset>
 <legend>
  {{ _('Easily share your files') }}
 </legend>

 {% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}

<div class="control-group">
  <label class="control-label" for="myfile">{{ _('My file') }}</label>
  <div class="controls">
   <input type="file" class="input-file" id="myfile" name="myfile">
  <p class="help-block">{{ _('Choose a file on your computer.') }}</p>
  </div>
</div>

<div class="control-group">
 <label class="control-label" for="myemail">{{ _('My email address') }}</label>
 <div class="controls">
  <input id="myemail" class="input-xlarge" type="text" name="myemail">
  <p class="help-block">{{ _('Send a link to download and delete the file. (we won\'t send spam to you, we hate spam to!)') }}</p>
 </div>
</div>

<div class="control-group">
 <label class="control-label" for="mycontacts">{{ _('My contacts') }}</label>
 <div class="controls">
  <textarea id="mycontacts" class="input-xlarge" rows="3" name="mycontacts"></textarea>
  <p class="help-block">{{ _('Send the download link to my contacts. (one email address per line)') }}</p>
 </div>
</div>

<div class="form-actions">
 <button id="btn-submit"
         class="btn btn-primary btn-large"
         type="submit">{{ _('Send!') }}</button>

 <div id="upload_modal" class="modal hide fade">
  <div class="modal-header">
   <h3>{{ _('Uploading...') }}</h3>
  </div>
  <div class="modal-body">
   <h4>{{ _('Your file is uploading, please wait.') }}</h4>
   <div id="js-progress">
    <div class="progress progress-striped active">
     <div id="bar" class="bar" style="width: 0%;"></div>
    </div>
    <p>
     <img src="{{ url_for('static', filename='uploading.gif') }}">
     <span id="percent">0%</span>
    </p>
   </div>
  </div>
  <div class="modal-footer">
   <a href="#" class="btn" data-dismiss="modal" id="btn-cancel" >{{ _('Cancel') }}</a>
  </div>
 </div>

</div> <!-- form-actions -->

 </fieldset>
</form>

{% endblock %}



{% block sidebar %}

<div class="well">
 <h3>{{ _('How does it work?') }}</h3>
 <p>{{ _('You simply choose a file on your computer an it will by uploaded to Flaskup!. In return, Flaskup! will give you a link to download the file. You can share this link with your family or your friends, it\'s up to you!') }}</p>
 <h3>{{ _('Who can download my file?') }}</h3>
 <p>{{ _('Anyone who know the download link will be able to download your file. So be carefull to not share the download link publicly') }}</p>
 <h3>{{ _('How many days my file will available?') }}</h3>
 <p>{{ _('Your file will be available for %(m)s days.', m=config['FLASKUP_MAX_DAYS']) }}</p>
 <h3>{{ _('What will you send spam to me or my contacts?') }}</h3>
 <p>{{ _('Definitely, no! We won\'t send you spam. We hate spam to!') }}</p>
</div>

{% endblock %}



{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-modal.js') }}"></script>
<script type="text/javascript">
  var progress = document.getElementById('js-progress');
  var btn = document.getElementById('btn-submit');
  btn.setAttribute('onclick', 'upload_file()');
  btn.setAttribute('form', null);

  var btn_cancel = document.getElementById('btn-cancel');
  btn_cancel.setAttribute('onclick', 'cancel_upload()');
  function cancel_upload() {
    progress.xhr.abort();
  }

  function upload_file() {
    // display modal
    $('#upload_modal').modal();

    // prepare XHR
    var xhr = new XMLHttpRequest();
    var form = document.getElementById('form-upload');
    var fd = new FormData(form);

    // event listners
    xhr.upload.addEventListener("progress", upload_progress, false);
    xhr.addEventListener("load", upload_complete, false);
    xhr.addEventListener("error", upload_failed, false);
    xhr.addEventListener("abort", upload_canceled, false);

    // POST form
    xhr.open("POST", "{{ url_for('upload_file_xhr') }}");
    xhr.send(fd);

   // store our xhr, so we can abort it
    progress.xhr = xhr;
  }

  function upload_progress(evt) {
    if (evt.lengthComputable) {
      // update progress bar (width)
      var percent = Math.round(evt.loaded * 100 / evt.total);
      var bar = document.getElementById('bar');
      bar.setAttribute('style', 'width: ' + percent + '%;');
      // update informations
      var percent_text = document.getElementById('percent');
      percent_text.innerHTML = percent + '%';
    }
  }
  function upload_complete(evt) {
    if(evt.target.status != 200) {
        // display error message
        alert(evt.target.responseText);
        // hide modal
        $('#upload_modal').modal('hide');
        return;
    }
    document.location.href = evt.target.responseText;
  }
  function upload_failed(evt) {
    alert('{{ _('There was an error attempting to upload the file.') }}');
  }
  function upload_canceled(evt) {
    // reset progress bar
    var bar = document.getElementById('bar');
    bar.setAttribute('style', 'width: 0%;');
    // hide modal
    $('#upload_modal').modal('hide');
  }
</script>
{% endblock %}
