.navbar-fixed-top {
  position: static;
  margin-bottom: 18px;
}
.download-link {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.download-link .btn {
  padding: 20px;
  font-size: 1.4em;
}
.progress {
  margin-top: 18px;
}
ul.alert li {
  margin-left: 10px;
}
