.navbar-fixed-top {
  position: static;
  margin-bottom: 18px;
}
.download-link {
  margin-top: 40px;
  text-align: center;
}
.download-link a {
  padding: 20px;
  font-size: 1.4em;
}
.progress {
  margin-top: 18px;
}
