body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #333333;
}
#header h1 {
  border-bottom: 1px solid #000000;
  margin-bottom: 2px;
}
#header a {
  text-decoration: none;
}
#header p {
  margin-top: 2px;
  text-align: end;
}
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
#content {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 20px
}
.formfield {
  margin: 10px 10px 20px 50px;
}
button {
  font-size: 1.2em;
  background-color: #0074CC;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 9px 14px;
  text-align: center;
  vertical-align: middle;
}
button:hover {
  background-color: #0055CC;
}
form ul {
  list-style: none;
}
.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border-radius: 4px;
  border: 1px solid #EED3D7;
  color: #B94A48;
  padding: 8px 14px 8px 14px;
  margin: 0;
  margin-bottom: 18px;
}
.success {
  color: #468847;
  background-color: #DFF0D8;
  border-radius: 4px;
  border: 1px solid #D6E9C6;
  padding: 8px 14px 8px 14px;
  margin: 0;
  margin-bottom: 18px;
}
.downloadlink {
  text-align: center;
}
.downloadlink a {
  font-size: 1.2em;
  background-color: #FF8533;
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  margin: 30px 0;
  padding: 12px 28px 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.downloadlink a:hover {
  background-color: #FF6600;
}
.progress {
  background-color: #F7F7F7;
  background-repeat: repeat-x;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 18px;
  margin-bottom: 18px;
  margin-left: 50px;
  overflow: hidden;
  max-width: 250px;
}
.progress .bar {
   -moz-box-sizing: border-box;
    -moz-transition: width 0.6s ease 0s;
    background-color: #0E90D2;
    background-image: -moz-linear-gradient(center top , #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 0;
}
